<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./loader.component.css">
    <title>Document</title>
</head>
<body>
    <div class="loader-wrapper">
    <div class="wrapper">
        <div class="cloud">
            <div class="cloud_left"></div>
            <div class="cloud_right"></div>
        </div>
        <div class="rain">
            <div class="drop"></div>
            <div class="drop"></div>
            <div class="drop"></div>
            <div class="drop"></div>
            <div class="drop"></div>
        </div>
        <div class="surface">
            <div class="hit"></div>
            <div class="hit"></div>
            <div class="hit"></div>
            <div class="hit"></div>
            <div class="hit"></div>
        </div>
    </div>

    <div class="loader JS_on">
        <span class="binary"></span>
        <span class="binary"></span>
        <span class="getting-there">LOADING STUFF...</span>
    </div>
    
</div>
</body>
</html>
